body {
  font-family: "Source Sans Pro";
  color: #111;
  padding: 10vh 0;
}

h1 {
  font-size: 36px;
  text-align: center;
}

p {
  font-size: 20px;
  margin: 48px 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}

.x path,
.x line {
  stroke: none;
}

.circle {
  fill: #333;
}

.line {
  stroke: #DDD;
  stroke-width: 1px;
}

svg {
  height: 600px;
  font: 13px 'Source Sans Pro';
  margin-top: 10px;
  margin-bottom: 20px;
}

label {
  font: 14px 'Source Sans Pro';
}

.controls {
  margin-top: 24px
}
