# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/


makedb.py
warehouse.py
warehouseAndTest.py
dbToJSON.py
tables.py

warehouse.db
mortality.db